<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Start your development with Creative Studio landing page." />
    <meta name="author" content="Devcrud" />
    <title>{% block title %}{% endblock title %}</title>

    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}" />

    <!-- Bootstrap + Creative Studio main styles -->
    <link rel="stylesheet" href="{% static 'css/creative-studio.css' %}" />
  </head>
  <body>
    {% block template %}{% endblock template %}

    <!-- core  -->
    <script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap affix -->
    <script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Creative Studio js -->
    <script src="{% static 'js/creative-studio.js' %}"></script>
  </body>
</html>
